<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
	<script type="text/javascript">
	ShopifyApp.init({
		apiKey: '<%= api_key %>',
		shopOrigin: 'https://<%= shop %>.myshopify.com'
	});
	</script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-duallistbox.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
    <script src="/javascripts/jquery.bootstrap-duallistbox.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

	<link rel='stylesheet' href='/stylesheets/foundation.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title><%= title %></title>
</head>
<body>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
        $(".dual-box").bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            infoText: false,
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveonselect: true,
            selectminimalheight: 100
        });
        /*$("#upsell-dual-box").bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveonselect: true,
            selectminimalheight: 100
        });
        $("#product-dual-box").bootstrapDualListbox({
            nonselectedlistlabel: 'Non-selected',
            selectedlistlabel: 'Selected',
            preserveselectiononmove: 'moved',
            moveonselect: true,
            selectminimalheight: 100
        });*/
    });
  </script>
  <div class="container">
    <div class="row">
      <hr>
      <h2>Create Your Offer</h2>
      <hr>
      <form>
          <div class="form-group col-md-12 bg-primary">
            <label class="control-label" for="billinginformation">Step 1: Setup Offer</label>
          </div>
          <div class="shipping-info">
            <div class="form-group col-md-6">
              <div class="control-group">
                <label class="control-label" for="offer_name">Offer Name</label>
                <div class="controls">
                  <input class="form-control" id="offer_name" name="offer_name" placeholder="Internal use only" required="" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="control-group">
                <label class="control-label" for="offer_title">Offer Title</label>
                <div class="controls">
                  <input class="form-control" id="offer_title" name="offer_title" placeholder="Bold font that shows up at the top of the offer" required="" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="offer_description">Offer Description</label>
                <div class="controls">
                  <textarea class="form-control" id="offer_title" name="offer_description" required="" type="text" rows="10" cols="65">Briefly describe what your offer means and how it works</textarea>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group col-md-12 bg-primary">
              <div class="control-group">
                <div class="controls">
                  <label class="control-label" for="billinginformation">Step 2: Select product(s) to upsell</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-5">
              <div class="control-group">
                <label class="control-label" for="upsell_title">Filter by product title</label>
                <div class="controls">
                  <input class="form-control" id="upsell_title" name="upsell_title" placeholder="Enter product title" required="" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_custom_collection">Filter by custom collection</label>
                <div class="controls">
                  <select class="selectpicker" id="upsell_custom_collection" name="upsell_custom_collection" style="display: none;" data-width="48%">
                    <option value="none">Filter by custom collection</option>
                    <% for(var i = 0; i < collection_selections.custom_collections.length; i++) { %>
                      <option value=<%= collection_selections.custom_collections[i].title %>><%= collection_selections.custom_collections[i].title %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_vendor">Filter by vendor</label>
                <div class="controls">
                  <select class="selectpicker" id="upsell_vendor" name="upsell_vendor" style="display: none;" data-width="48%">
                    <option value="none">Filter by vendor</option>
                    <% for(var i = 0; i < product_selections.products.length; i++) { %>
                      <option value=<%= product_selections.products[i].vendor %>><%= product_selections.products[i].vendor %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_product_type">Filter by product type</label>
                <div class="controls">
                  <select class="selectpicker" id="upsell_product_type" name="upsell_product_type" style="display: none;" data-width="48%">
                    <option value="none">Filter by product type</option>
                    <% for(var i = 0; i < product_selections.products.length; i++) { %>
                      <option value=<%= product_selections.products[i].product_type %>><%= product_selections.products[i].product_type %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="control-group">
                <label class="control-label" for="upsell_results">Results per page</label>
                <div class="controls">
                  <select class="selectpicker" id="upsell_results" name="upsell_results" style="display: none;"> 
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                    <option value=100>100</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <select multiple="multiple" size="10" id="upsell-dual-box" name="upsell-dual-box" class="dual-box">
                <% for(var i = 0; i < product_selections.products.length; i++) { %>
                  <option value="{'handle':'<%= product_selections.products[i].handle %>','id':'<%= product_selections.products[i].id %>'}"><%= product_selections.products[i].title %></option>
                <% } %>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3" selected="selected">Option 3</option>
                <option value="option4">Option 4</option>
                <option value="option5">Option 5</option>
                <option value="option6" selected="selected">Option 6</option>
                <option value="option7">Option 7</option>
                <option value="option8">Option 8</option>
                <option value="option9">Option 9</option>
                <option value="option0">Option 10</option>
                <option value="option0">Option 11</option>
                <option value="option0">Option 12</option>
                <option value="option0">Option 13</option>
                <option value="option0">Option 14</option>
                <option value="option0">Option 15</option>
                <option value="option0">Option 16</option>
                <option value="option0">Option 17</option>
                <option value="option0">Option 18</option>
                <option value="option0">Option 19</option>
                <option value="option0">Option 20</option>
              </select>
            </div>
            <hr>
            <div class="form-group col-md-12 bg-primary">
              <label class="control-label" for="billinginformation">Step 3: Select Products to Place Offer</label>
            </div>
            <div class="form-group col-md-5">
              <div class="control-group">
                <label class="control-label" for="product_title">Filter by product title</label>
                <div class="controls">
                  <input class="form-control" id="product_title" name="product_title" placeholder="Enter product title" required="" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_custom_collection">Filter by custom collection</label>
                <div class="controls">
                  <select class="selectpicker" id="product_custom_collection" name="product_custom_collection" style="display: none;" data-width="48%">
                    <option value="none">Filter by custom collection</option>
                    <% for(var i = 0; i < collection_selections.custom_collections.length; i++) { %>
                      <option value=<%= collection_selections.custom_collections[i].title %>><%= collection_selections.custom_collections[i].title %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_vendor">Filter by vendor</label>
                <div class="controls">
                  <select class="selectpicker" id="product_vendor" name="product_vendor" style="display: none;" data-width="48%"> 
                    <option value="none">Filter by vendor</option>
                    <% for(var i = 0; i < product_selections.products.length; i++) { %>
                      <option value=<%= product_selections.products[i].vendor %>><%= product_selections.products[i].vendor %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_type">Filter by product type</label>
                <div class="controls">
                  <select class="selectpicker" id="product_type" name="product_type" style="display: none;" data-width="48%">
                    <option value="none">Filter by product type</option>
                    <% for(var i = 0; i < product_selections.products.length; i++) { %>
                      <option value=<%= product_selections.products[i].product_type %>><%= product_selections.products[i].product_type %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="control-group">
                <label class="control-label" for="product_results">Results per page</label>
                <div class="controls">
                  <select class="selectpicker" id="product_results" name="upsell_results" style="display: none;"> 
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                    <option value=100>100</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <select multiple="multiple" size="10" id="product-dual-box" name="product-dual-box" class="dual-box">
                <% for(var i = 0; i < product_selections.products.length; i++) { %>
                  <option value="{'handle':'<%= product_selections.products[i].handle %>','id':'<%= product_selections.products[i].id %>'}"><%= product_selections.products[i].title %></option>
                <% } %>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3" selected="selected">Option 3</option>
                <option value="option4">Option 4</option>
                <option value="option5">Option 5</option>
                <option value="option6" selected="selected">Option 6</option>
                <option value="option7">Option 7</option>
                <option value="option8">Option 8</option>
                <option value="option9">Option 9</option>
                <option value="option0">Option 10</option>
                <option value="option0">Option 11</option>
                <option value="option0">Option 12</option>
                <option value="option0">Option 13</option>
                <option value="option0">Option 14</option>
                <option value="option0">Option 15</option>
                <option value="option0">Option 16</option>
                <option value="option0">Option 17</option>
                <option value="option0">Option 18</option>
                <option value="option0">Option 19</option>
                <option value="option0">Option 20</option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <div class="control-group confirm-btn">
                <label class="control-label" for="placeorderbtn"></label>
                <div class="controls">
                  <button class="btn btn-primary" id="placeorderbtn" name="placeorderbtn">Create</button>
                </div>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
<style>
.form-group{
    margin-bottom: 3px;
}

h2.bg-success{
    padding: 15px;
}

.required-lbl{
    color: red;
}

label[for="billinginformation"]{
    display: inline;
    float: left;
    margin:0px 45px 0px 0px;
}

.card-expiry{
    padding-left: 0px;
}

.confirm-btn{
    float:right;
}

.bg-primary{
    padding: 10px;
    margin-bottom: 15px;
}

label{
    margin-bottom: 0px;
}
</style>
</body>
</body>
</html>