<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
	<script type="text/javascript">
	ShopifyApp.init({
		apiKey: '<%= api_key %>',
		shopOrigin: 'https://<%= shop %>.myshopify.com'
	});
	</script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-duallistbox.css">
    <link rel="stylesheet" href="/stylesheets/fm.selectator.jquery.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
    <script src="/javascripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="/javascripts/fm.selectator.jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link async href="http://fonts.googleapis.com/css?family=Advent%20Pro" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
	<title><%= title %></title>
</head>
<body>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
        /*$(".dual-box").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all',
            infoText: false,
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            filterOnValues: true,
            selectorMinimalHeight: 100
        });*/
        $("#upsell-dual-box").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all',
            infoText: false,
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            filterOnValues: true,
            selectorMinimalHeight: 100
        });
        
        $("#product-dual-box").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all',
            infoText: false,
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            filterOnValues: true,
            selectorMinimalHeight: 100
        });
        
        <% if(typeof store != "undefined") { %>
          <% for(var i = 0; i < store_upsell.products.length; i++) { %>
            $("#upsell-dual-box option[value='id=<%= store_upsell.products[i].id %>|title=<%= store_upsell.products[i].title %>|handle=<%= store_upsell.products[i].handle %>|product_type=<%= store_upsell.products[i].product_type %>|vendor=<%= store_upsell.products[i].vendor %>']").prop('selected', true);
          <% } %>
          <% for(var i = 0; i < store_products.products.length; i++) { %>
            $("#product-dual-box option[value='id=<%= store_products.products[i].id %>|title=<%= store_products.products[i].title %>|handle=<%= store_products.products[i].handle %>|product_type=<%= store_products.products[i].product_type %>|vendor=<%= store_products.products[i].vendor %>']").prop('selected', true);
          <% } %>
          $("#upsell-dual-box").bootstrapDualListbox('refresh', true);
          $("#product-dual-box").bootstrapDualListbox('refresh', true);
        <% } %>
        
        <% for(var i = 0; i < metafields.values.length; i++) { %>
          <% for(var j = 0; j < metafields.values[i].products.length; j++) { %>
            if ($("#product-dual-box option[value='id=<%= metafields.values[i].products[j].id %>|title=<%= metafields.values[i].products[j].title %>|handle=<%= metafields.values[i].products[j].handle %>|product_type=<%= metafields.values[i].products[j].product_type %>|vendor=<%= metafields.values[i].products[j].vendor %>']").is(':not(:selected)')) {
              $("#product-dual-box option[value='id=<%= metafields.values[i].products[j].id %>|title=<%= metafields.values[i].products[j].title %>|handle=<%= metafields.values[i].products[j].handle %>|product_type=<%= metafields.values[i].products[j].product_type %>|vendor=<%= metafields.values[i].products[j].vendor %>']").attr('disabled', 'diabled');
              $("#product-dual-box").bootstrapDualListbox('refresh', true);
            }
          <% } %>
        <% } %>
        
        $( "#btn-upsell-filter" ).click(function( event ) {
            //"(.*?)title:(.*?)value(.*?);vendor:(.*?);upsell_product_type:(.*?)"
            var result = "(.*?)";
            
            /*if ($("#upsell_custom_collection").val() !== "none") {
                $("#bootstrap-duallistbox-nonselected-list_upsell-dual-box").empty();
                $("#bootstrap-duallistbox-nonselected-list_upsell-dual-box").append(
                    '<%for(var i = 0; i < product_selections.products.length; i++) { %>' + 
                        '<option value="id=<%= product_selections.products[i].id %>|title=<%= product_selections.products[i].title %>|handle=<%= product_selections.products[i].handle %>|product_type=<%= product_selections.products[i].product_type %>|vendor=<%= product_selections.products[i].vendor %>"><%= product_selections.products[i].title %></option>'+
                    '<% } %>'                    
                );
                $("#product-dual-box").bootstrapDualListbox('refresh', true);
            }*/
            
            if ($("#upsell_title").val() !== "") {
                result += "title=(.*?)" + $("#upsell_title").val() + "(.*?)|";
            }
            else {
                result += "title=(.*?)|";
            }
            if ($("#upsell_vendor").val() !== "none") {
                result += "vendor=" + $("#upsell_vendor").val() + "|";
            }
            else {
                result += "vendor=(.*?)|"
            }
            if ($("#upsell_type").val() !== "none") {
                result += "product_type=" + $("#upsell_type").val();
            }
            else {
                result += "product_type=(.*?)";
            }
            $("#upsell-dual-box").bootstrapDualListbox('setNonSelectedFilter', result, true);
        });

        $( "#btn-upsell-reset" ).click(function( event ) {
            $("#upsell-dual-box").bootstrapDualListbox('setNonSelectedFilter', '', true);
        });
        
        $( "#btn-product-filter" ).click(function( event ) {
            if ($("#product_title").val() !== "") {
                result += "title=(.*?)" + $("#product_title").val() + "(.*?)|";
            }
            else {
                result += "title:(.*?);";
            }
            if ($("#product_vendor").val() !== "none") {
                result += "vendor=" + $("#product_vendor").val() + "|";
            }
            else {
                result += "vendor:(.*?)|"
            }
            if ($("#product_type").val() !== "none") {
                result += "product_type=" + $("#product_type").val();
            }
            else {
                result += "product_type=(.*?)";
            }
            $("#product-dual-box").bootstrapDualListbox('setNonSelectedFilter', result, true);
        });

        $( "#btn-product-reset" ).click(function( event ) {
            $("#product-dual-box").bootstrapDualListbox('setNonSelectedFilter', '', true);
        });
        /*
        $( "#create-offer" ).click(function( event ) {
            var name = $('#offer_name').val();
            var title = $('#offer_title').val();
            var description = $('#offer_description').val();
            var upsells = $('#upsell-dual-box').val();
            var products = $('#product-dual-box').val();
            //var type = 
        });*/       
    });
  </script>
  <div class="container">
    <div class="row">
      <hr>
      <div class="bg-primary">
        <p class="h1">Create Your Offer</p>
      </div>
      <hr>
      <form id="offer-form" method="POST" action="/create-offer">
        <div class="form-group col-md-12 bg-primary h4">
          <div class="control-group">
            <div class="controls">
              <p class="control-label" for="form-steps">Step 1: Setup Offer</p>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="offer_name">Offer Name</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control" id="offer_name" name="offer_name" placeholder="Internal use only" required="" style="width: 49%;" type="text">
                  <% } else { %>
                    <input class="form-control" id="offer_name" name="offer_name" placeholder="Internal use only" required="" style="width: 49%;" type="text" value="<%= store.offer_name %>">
                  <% } %>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="offer_title">Offer Title</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control" id="offer_title" name="offer_title" placeholder="Bold font that shows up at the top of the offer" required="" style="width: 49%;" type="text">
                  <% } else { %>
                    <input class="form-control" id="offer_title" name="offer_title" placeholder="Bold font that shows up at the top of the offer" required="" style="width: 49%;" type="text" value="<%= store.offer_title %>">
                  <% } %>                  
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="offer_description">Offer Description</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <textarea class="form-control" cols="65" id="offer_description" name="offer_description" required="" rows="10" style="width: 49%;">Briefly describe what your offer means and how it works</textarea>
                  <% } else { %>
                    <textarea class="form-control" cols="65" id="offer_description" name="offer_description" required="" rows="10" style="width: 49%;"><%= store.offer_description %></textarea>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group col-md-12 bg-primary h4">
          <div class="control-group">
            <div class="controls">
              <p class="control-label" for="form-steps">Step 2: Select product(s) to upsell</p>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="upsell_title">Filter by product title</label>
                <div class="controls">
                  <input class="form-control" id="upsell_title" name="upsell_title" placeholder="Enter product title" style="width: 49%;" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_custom_collection">Filter by custom collection</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="upsell_custom_collection" name="upsell_custom_collection" style="display: none;">
                    <option value="none">
                      Filter by custom collection
                    </option><%for(var i = 0; i < collection_selections.custom_collections.length; i++) { %>
                    <option value="<%= collection_selections.custom_collections[i].title %>">
                      <%= collection_selections.custom_collections[i].title %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_vendor">Filter by vendor</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="upsell_vendor" name="upsell_vendor" style="display: none;">
                    <option value="none">
                      Filter by vendor
                    </option><%for(var i = 0; i < product_selections.products.length; i++) { %>
                    <option value="<%= product_selections.products[i].vendor %>">
                      <%= product_selections.products[i].vendor %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_product_type">Filter by product type</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="upsell_type" name="upsell_type" style="display: none;">
                    <option value="none">
                      Filter by product type
                    </option><%for(var i = 0; i < product_selections.products.length; i++) { %>
                    <option value="<%= product_selections.products[i].product_type %>">
                      <%= product_selections.products[i].product_type %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="container">
                  <div class="row">
                    <button type="button" id="btn-upsell-filter" class="btn btn-primary">Filter</button>
                    <button type="button" id="btn-upsell-reset" class="btn btn-danger">Reset</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <select class="dual-box" id="upsell-dual-box" multiple="multiple" name="upsell_dual_box" size="10">
                <%for(var i = 0; i < product_selections.products.length; i++) { %>
                  <option data-left="This is the left section" data-right="This is the right section" data-subtitle="This is the section under the title" value="id=<%= product_selections.products[i].id %>|title=<%= product_selections.products[i].title %>|handle=<%= product_selections.products[i].handle %>|product_type=<%= product_selections.products[i].product_type %>|vendor=<%= product_selections.products[i].vendor %>"><%= product_selections.products[i].title %></option>
                <% } %>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group col-md-12 bg-primary h4">
          <div class="control-group">
            <div class="controls">
              <p class="control-label" for="form-steps">Step 3: Select Products to Place Offer</p>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="product_title">Filter by product title</label>
                <div class="controls">
                  <input class="form-control" id="product_title" name="product_title" placeholder="Enter product title" style="width: 49%;" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_custom_collection">Filter by custom collection</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="product_custom_collection" name="product_custom_collection" style="display: none;">
                    <option value="none">
                      Filter by custom collection
                    </option><%for(var i = 0; i < collection_selections.custom_collections.length; i++) { %>
                    <option value="<%= collection_selections.custom_collections[i].title %>">
                      <%= collection_selections.custom_collections[i].title %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_vendor">Filter by vendor</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="product_vendor" name="product_vendor" style="display: none;">
                    <option value="none">
                      Filter by vendor
                    </option><%for(var i = 0; i < product_selections.products.length; i++) { %>
                    <option value="<%= product_selections.products[i].vendor %>">
                      <%= product_selections.products[i].vendor %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_type">Filter by product type</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="product_type" name="product_type" style="display: none;">
                    <option value="none">
                      Filter by product type
                    </option><%for(var i = 0; i < product_selections.products.length; i++) { %>
                    <option value="<%= product_selections.products[i].product_type %>">
                      <%= product_selections.products[i].product_type %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="container">
                  <div class="row">
                    <button type="button" id="btn-product-filter" class="btn btn-primary">Filter</button>                    
                    <button type="button" id="btn-product-reset" class="btn btn-danger">Reset</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <select class="dual-box" id="product-dual-box" multiple="multiple" name="product_dual_box" size="10">
                <%for(var i = 0; i < product_selections.products.length; i++) { %>
                  <option value="id=<%= product_selections.products[i].id %>|title=<%= product_selections.products[i].title %>|handle=<%= product_selections.products[i].handle %>|product_type=<%= product_selections.products[i].product_type %>|vendor=<%= product_selections.products[i].vendor %>"><%= product_selections.products[i].title %></option>
                <% } %>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="control-group confirm-btn">
            <label class="control-label" for="create-offer"></label>
            <div class="controls">
              <button class="btn btn-primary" id="create-offer" name="create-offer" type="submit" form="offer-form" value="Create">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<style>
.form-group .selectpicker{
    margin-bottom: 3px;
}

.offer-input-groups .form-control{
    margin-bottom: 3px;
}

h2.bg-success{
    padding: 15px;
}

.required-lbl{
    color: red;
}

p[for="form-steps"]{
    display: inline;
    float: left;
    margin:0px 45px 0px 0px;
}

.card-expiry{
    padding-left: 0px;
}

.confirm-btn{
    float:right;
}

.bg-primary{
    padding: 10px;
    margin-bottom: 15px;
}

label{
    margin-bottom: 0px;
}

.panel-success{
    background-color: #dcdcdc;
}

select option:disabled {
    color: #000;
    font-weight: bold;
}

</style>
</body>
</body>
</html>