<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
  ShopifyApp.init({
    apiKey: '<%= api_key %>',
    shopOrigin: 'https://<%= shop %>.myshopify.com'
  });
  </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-duallistbox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link async href="http://fonts.googleapis.com/css?family=Advent%20Pro" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    
  <title><%= title %></title>
</head>
<body>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({
          buttons: {
            primary: {
                label: "Cancel", 
                href: '/'
            }
          },
          title: '<%= title %>',
          icon: '/images/logo.png'
        });
        ShopifyApp.Bar.loadingOff();
        /*$(".dual-box").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all',
            infoText: false,
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            filterOnValues: true,
            selectorMinimalHeight: 100
        });*/
        $("#upsell-dual-box").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all',
            infoText: false,
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            filterOnValues: true,
            selectorMinimalHeight: 100
        });

        $("#product-dual-box").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all',
            infoText: false,
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            filterOnValues: true,
            selectorMinimalHeight: 100
        });

        $(".filter").hide();
        /*var dualListBox = $('select[multiple=multiple]').bootstrapDualListbox();
        var isRequiredField = dualListBox.attr('required');

        function initDualListBox() {
            var instance = dualListBox.data('plugin_bootstrapDualListbox');
            var nonSelectedList = instance.elements.select1;
            var isDualListBoxValidated = !(instance.selectedElements > 0);

            nonSelectedList.prop('required', isDualListBoxValidated);
            instance.elements.originalSelect.prop('required', false);
        }

        dualListBox.change(function () {
            if (isRequiredField)
                initDualListBox();
        });

        if (isRequiredField)
            initDualListBox();
            */
        var keys = $('#keys').val();
        keys = parseKeys(keys);
        
        <% if(typeof store != "undefined") { %>
          //$("#upsell_configs").val(JSON.stringify(<%= store_upsell.products %>));
          //$("#product_configs").val(JSON.stringify(<%= store_products.products %>));
          <% for(var i = 0; i < store_upsell.products.length; i++) { %>
            $("#upsell-dual-box option[value='id=<%= store_upsell.products[i].id %>|title=<%- store_upsell.products[i].title %>|handle=<%= store_upsell.products[i].handle %>|product_type=<%= store_upsell.products[i].product_type %>|vendor=<%= store_upsell.products[i].vendor %>']").prop('selected', true);
          <% } %>
          <% for(var i = 0; i < store_products.products.length; i++) { %>
            $("#product-dual-box option[value='id=<%= store_products.products[i].id %>|title=<%- store_products.products[i].title %>|handle=<%= store_products.products[i].handle %>|product_type=<%= store_products.products[i].product_type %>|vendor=<%= store_products.products[i].vendor %>']").prop('selected', true);
          <% } %>
          $("#upsell-dual-box").bootstrapDualListbox('refresh', true);
          $("#product-dual-box").bootstrapDualListbox('refresh', true);
        <% } %>
        
        <% for(var i = 0; i < metafields.values.length; i++) { %>
          <% for(var j = 0; j < metafields.values[i].products.length; j++) { %>
            if ($("#product-dual-box option[value='id=<%= metafields.values[i].products[j].id %>|title=<%- metafields.values[i].products[j].title %>|handle=<%= metafields.values[i].products[j].handle %>|product_type=<%= metafields.values[i].products[j].product_type %>|vendor=<%= metafields.values[i].products[j].vendor %>']").is(':not(:selected)')) {
              $("#product-dual-box option[value='id=<%= metafields.values[i].products[j].id %>|title=<%- metafields.values[i].products[j].title %>|handle=<%= metafields.values[i].products[j].handle %>|product_type=<%= metafields.values[i].products[j].product_type %>|vendor=<%= metafields.values[i].products[j].vendor %>']").attr('disabled', 'disabled');
              $("#product-dual-box").bootstrapDualListbox('refresh', true);
            }
          <% } %>
        <% } %>
        
        $( "#btn-upsell-filter" ).click(function( event ) {
            //"(.*?)title:(.*?)value(.*?);vendor:(.*?);upsell_product_type:(.*?)"
            var result = "(.*?)";
            
            /*if ($("#upsell_custom_collection").val() !== "none") {
                $("#bootstrap-duallistbox-nonselected-list_upsell-dual-box").empty();
                $("#bootstrap-duallistbox-nonselected-list_upsell-dual-box").append(
                    '<%for(var i = 0; i < product_selections.products.length; i++) { %>' + 
                        '<option value="id=<%= product_selections.products[i].id %>|title=<%= product_selections.products[i].title %>|handle=<%= product_selections.products[i].handle %>|product_type=<%= product_selections.products[i].product_type %>|vendor=<%= product_selections.products[i].vendor %>"><%= product_selections.products[i].title %></option>'+
                    '<% } %>'                    
                );
                $("#product-dual-box").bootstrapDualListbox('refresh', true);
            }*/
            
            if ($("#upsell_title").val() !== "") {
                result += "title=(.*?)" + $("#upsell_title").val() + "(.*?).";
            }
            else {
                result += "title=(.*?).";
            }
            if ($("#upsell_type").val() !== "none") {
                result += "product_type=" + $("#upsell_type").val() + ".";
            }
            else {
                result += "product_type=(.*?).";
            }
            if ($("#upsell_vendor").val() !== "none") {
                result += "vendor=" + $("#upsell_vendor").val() + "$"; 
            }
            else {
                result += "vendor=(.*?)$";
            }
 
            $("#upsell-dual-box").bootstrapDualListbox('setNonSelectedFilter', result, true);
        });

        $( "#btn-upsell-reset" ).click(function( event ) {
            $("#upsell-dual-box").bootstrapDualListbox('setNonSelectedFilter', '', true);
        });
        
        $( "#btn-product-filter" ).click(function( event ) {
            var result = "(.*?)";
            
            if ($("#product_title").val() !== "") {
                result += "title=(.*?)" + $("#product_title").val() + "(.*?).";
            }
            else {
                result += "title=(.*?).";
            }
            if ($("#product_type").val() !== "none") {
                result += "product_type=" + $("#product_type").val() + ".";
            }
            else {
                result += "product_type=(.*?).";
            }
            if ($("#product_vendor").val() !== "none") {
                result += "vendor=" + $("#product_vendor").val() + "$";
            }
            else {
                result += "vendor=(.*?)$";
            }
            $("#product-dual-box").bootstrapDualListbox('setNonSelectedFilter', result, true);
        });

        $( "#btn-product-reset" ).click(function( event ) {
            $("#product-dual-box").bootstrapDualListbox('setNonSelectedFilter', '', true);
        });
        
        $("#upsell-dual-box").on('change', function(){
            var size = $("#upsell-dual-box").find(":selected").size();
            if(size > 3){
                $("#upsell-dual-box").find(":selected").each(function(ind, sel){            
                    if(ind > 2)
                        $(this).prop("selected", false)
                })
                alert('You can only choose 3!');
                $("#upsell-dual-box").bootstrapDualListbox('refresh', true);
            }
        });
        $('#offer_name').on('input', function() {
            var input = $(this);
            var is_valid = true;
            
            for (var i = 0; i < keys.length; i++) {
                if (input.val().toLowerCase() === keys[i].toLowerCase()) {
                    is_valid = false;
                    break;
                }
            }
            
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });
        $('#border_color').on('input', function() {
            var input=$(this);
            var re = /((^|\,)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$/;
            var is_valid = re.test(input.val());
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });
        $('#border_highlight_color').on('input', function() {
            var input=$(this);
            var re = /((^|\,)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){3}$/;
            var is_valid = re.test(input.val());
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });
        $('#background_color').on('input', function() {
            var input=$(this);
            var re = /((^|\,)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){3}$/;
            var is_valid = re.test(input.val());
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });
        $('#button_color').on('input', function() {
            var input=$(this);
            var re = /((^|\,)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){3}$/;
            var is_valid = re.test(input.val());
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });

        function validate() {            
            var validated = true;            
            var tags = ["offer_name", "border_color", "border_highlight_color", "background_color", "button_color"];
            
            for (var i = 0; i < tags.length; i++) {
                var element = $("#" + tags[i]);
                var valid = element.hasClass("valid");
                var error_element=$("span", element.parent());
                
                if (!valid) {
                    validated = false;
                    error_element.removeClass("error").addClass("error_show"); 
                }
                else {
                    error_element.removeClass("error_show").addClass("error");
                }
            }
            if ($("#upsell-dual-box option:selected").length == 0) {
                validated = false;                
                $("#error-upsell").removeClass("error").addClass("error_show"); 
            }
            else {                
                $("#error-upsell").removeClass("error_show").addClass("error");
            }
            if ($('#product-dual-box option:selected').length == 0) {
                validated = false;                
                $("#error-product").removeClass("error").addClass("error_show"); 
            }
            else {                
                $("#error-product").removeClass("error_show").addClass("error");
            }
            if (!validated) {
                return false;
            }
            else {                
                return true;
            }            
        }
        function parseKeys(values) {
            var result = values.split("|");
            
            return result;
        }
        $("#offer-form").on("submit", function(event) {
            event.preventDefault();
            $('#create-offer').button('loading');
            if (!validate()) {
                $('body, html').animate({scrollTop:$('form').offset().top}, 'slow');
                $('#error-top').removeClass("error").addClass("error_show");
                $('#create-offer').button('reset');
                ShopifyApp.Bar.loadingOff();
                return false;
            }

            $(this).off("submit");
            this.submit();
            
        });
        /*$('#create-offer').on('click', function() {
          ShopifyApp.Bar.loadingOn();
          var $this = $(this);
          $this.button('loading');
            setTimeout(function() {
               $this.button('reset');
               ShopifyApp.Bar.loadingOff();
           }, 35000);           
        });*/
    });
  </script>
  <div class="container">
    <div class="row">
      <hr>
      <div class="bg-primary">
        <p class="h1">Create Your Offer</p>
        <span id="error-top" class="error">There's an error on the page</span>
      </div>
      <hr>
      <form id="offer-form" method="POST" action="/create-offer">
        <% if (typeof store == "undefined") { %>
          <input class="form-control" type="hidden" id="upsell_configs" name="upsell_configs" value="">
          <input class="form-control" type="hidden" id="product_configs" name="product_configs" value="">
          <input class="form-control" type="hidden" id="key" name="key" value="">
          <input class="form-control" type="hidden" id="keys" name="keys" value="<%= keys %>">
        <% } else { %>
          <input class="form-control" type="hidden" id="upsell_configs" name="upsell_configs" value=<%= upsell_config %>>
          <input class="form-control" type="hidden" id="product_configs" name="product_configs" value=<%= product_config %>>
          <input class="form-control" type="hidden" id="key" name="key" value="<%= store.offer_name %>">
          <input class="form-control" type="hidden" id="keys" name="keys" value="<%= keys %>">
        <% } %>        
        <div class="form-group col-md-12 bg-primary h4">
          <div class="control-group">
            <div class="controls">
              <p class="control-label" for="form-steps">Step 1: Setup Offer</p>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="offer_name">Offer Name</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control invalid" id="offer_name" name="offer_name" placeholder="Internal use only" required="" style="width: 49%;" type="text" maxlength="27">
                  <% } else { %>
                    <input class="form-control valid" id="offer_name" name="offer_name" placeholder="Internal use only" required="" style="width: 49%;" type="text" value="<%= store.offer_name %>" maxlength="27" disabled>
                  <% } %>
                  <span class="error">This offer name is already being used</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="offer_title">Offer Title</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control" id="offer_title" name="offer_title" placeholder="Bold font that shows up at the top of the offer" required="" style="width: 49%;" type="text" maxlength="27">
                  <% } else { %>
                    <input class="form-control" id="offer_title" name="offer_title" placeholder="Bold font that shows up at the top of the offer" required="" style="width: 49%;" type="text" value="<%= store.offer_title %>" maxlength="27">
                  <% } %>
                  <span class="error">This field is required</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="offer_description">Offer Description</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <textarea class="form-control" cols="65" id="offer_description" name="offer_description" placeholder="Briefly describe what your offer means and how it works" required="" rows="10" style="width: 49%;" maxlength="230"></textarea>
                  <% } else { %>
                    <textarea class="form-control" cols="65" id="offer_description" name="offer_description" placeholder="Briefly describe what your offer means and how it works" required="" rows="10" style="width: 49%;" maxlength="230"><%= store.offer_description %></textarea>
                  <% } %>
                  <span class="error">This field is required</span>
                </div>
              </div>
            </div>
           <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="border_color">Upsell Border Color</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control invalid" id="border_color" name="border_color" placeholder="Enter rgba color code (Example: 0,0,0,0)" required="" style="width: 49%;" type="text" value="">
                  <% } else { %>
                    <input class="form-control valid" id="border_color" name="border_color" placeholder="Enter rgba color code (Example: 0,0,0,0)" required="" style="width: 49%;" type="text" value="<%= store.border_color %>">
                  <% } %>
                  <span class="error">This field input is invalid (Example: 0,0,0,0)</span>
                </div>
              </div>
           </div>
           <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="border_highlight_color">Upsell Highlight Border Color</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control invalid" id="border_highlight_color" name="border_highlight_color" placeholder="Enter rgba color code (Example: 255,162,0)" required="" style="width: 49%;" type="text" value="">
                  <% } else { %>
                    <input class="form-control valid" id="border_highlight_color" name="border_highlight_color" placeholder="Enter rgba color code (Example: 255,162,0)" required="" style="width: 49%;" type="text" value="<%= store.border_highlight_color %>">
                  <% } %>
                  <span class="error">This field input is invalid (Example: 0,0,0)</span>
                </div>
              </div>
           </div>
           <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="background_color">Upsell Background Color</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control invalid" id="background_color" name="background_color" placeholder="Enter rgba color code (Example: 255,255,255)" required="" style="width: 49%;" type="text" value="">
                  <% } else { %>
                    <input class="form-control valid" id="background_color" name="background_color" placeholder="Enter rgba color code (Example: 255,255,255)" required="" style="width: 49%;" type="text" value="<%= store.background_color %>">
                  <% } %>
                  <span class="error">This field input is invalid (Example: 0,0,0)</span>
                </div>
              </div>
           </div>
           <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="button_color">Cart Button Color</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control invalid" id="button_color" name="button_color" placeholder="Enter rgba color code (Example: 60,105,211)" required="" style="width: 49%;" type="text" value="">
                  <% } else { %>
                    <input class="form-control valid" id="button_color" name="button_color" placeholder="Enter rgba color code (Example: 60,105,211)" required="" style="width: 49%;" type="text" value="<%= store.button_color %>">
                  <% } %>
                  <span class="error">This field input is invalid (Example: 0,0,0)</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="form-check">
                  <% if (typeof store == "undefined" || store.edge_type == "undefined") { %>
                    <label class="form-check-label custom-control custom-checkbox" for="edge_type"><input name="edge_type" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox" value="not_rounded"><span class="custom-control-indicator"></span><span class="custom-control-description">Upsell Rounded Edges?</span></label>
                  <% } else { %>
                    <label class="form-check-label custom-control custom-checkbox" for="edge_type"><input name="edge_type" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox" value="rounded" checked><span class="custom-control-indicator"></span><span class="custom-control-description">Upsell Rounded Edges?</span></label>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="form-check">
                  <% if (typeof store == "undefined" || store.status == "undefined") { %>
                    <label class="form-check-label custom-control custom-checkbox" for="activate-offer"><input name="activate_offer" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">Activate Offer Upon Creation?</span></label>
                  <% } else { %>
                    <label class="form-check-label custom-control custom-checkbox" for="activate-offer"><input name="activate_offer" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox" checked ><span class="custom-control-indicator"></span><span class="custom-control-description">Activate Offer Upon Creation?</span></label>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group col-md-12 bg-primary h4">
          <div class="control-group">
            <div class="controls">
              <p class="control-label" for="form-steps">Step 2: Select product(s) to upsell (Must select one)</p>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="upsell_title">Filter by product title</label>
                <div class="controls">
                  <input class="form-control" id="upsell_title" name="upsell_title" placeholder="Enter product title" style="width: 49%;" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_custom_collection">Filter by custom collection</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="upsell_custom_collection" name="upsell_custom_collection" style="display: none;">
                    <option value="none">
                      Filter by custom collection
                    </option><%for(var i = 0; i < collection_selections.custom_collections.length; i++) { %>
                    <option value="<%= collection_selections.custom_collections[i].title %>">
                      <%= collection_selections.custom_collections[i].title %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_vendor">Filter by vendor</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="upsell_vendor" name="upsell_vendor" style="display: none;">
                    <option value="none">
                      Filter by vendor
                    </option><%for(var i = 0; i < product_selections.products.length; i++) { %>
                    <option value="<%= product_selections.products[i].vendor %>">
                      <%= product_selections.products[i].vendor %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_product_type">Filter by product type</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="upsell_type" name="upsell_type" style="display: none;">
                    <option value="none">
                      Filter by product type
                    </option><%for(var i = 0; i < product_selections.products.length; i++) { %>
                    <option value="<%= product_selections.products[i].product_type %>">
                      <%= product_selections.products[i].product_type %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="container">
                  <div class="row">
                    <button type="button" id="btn-upsell-filter" class="btn btn-primary">Filter</button>
                    <button type="button" id="btn-upsell-reset" class="btn btn-danger">Reset</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <select class="dual-box" id="upsell-dual-box" multiple="multiple" name="upsell_dual_box" size="10">
                <%for(var i = 0; i < product_selections.products.length; i++) { %>
                  <option value="id=<%= product_selections.products[i].id %>|title=<%= product_selections.products[i].title %>|handle=<%= product_selections.products[i].handle %>|product_type=<%= product_selections.products[i].product_type %>|vendor=<%= product_selections.products[i].vendor %>" style="background-image: url(<%= product_selections.products[i].image.src %>);"><%= product_selections.products[i].title %></option>
                <% } %>
              </select>
              <span id="error-upsell" class="error">Must select one</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group col-md-12 bg-primary h4">
          <div class="control-group">
            <div class="controls">
              <p class="control-label" for="form-steps">Step 3: Select Product(s) to Place Offer (Must select one)</p>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="product_title">Filter by product title</label>
                <div class="controls">
                  <input class="form-control" id="product_title" name="product_title" placeholder="Enter product title" style="width: 49%;" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_custom_collection">Filter by custom collection</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="product_custom_collection" name="product_custom_collection" style="display: none;">
                    <option value="none">
                      Filter by custom collection
                    </option><%for(var i = 0; i < collection_selections.custom_collections.length; i++) { %>
                    <option value="<%= collection_selections.custom_collections[i].title %>">
                      <%= collection_selections.custom_collections[i].title %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_vendor">Filter by vendor</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="product_vendor" name="product_vendor" style="display: none;">
                    <option value="none">
                      Filter by vendor
                    </option><%for(var i = 0; i < product_selections.products.length; i++) { %>
                    <option value="<%= product_selections.products[i].vendor %>">
                      <%= product_selections.products[i].vendor %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_type">Filter by product type</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="product_type" name="product_type" style="display: none;">
                    <option value="none">
                      Filter by product type
                    </option><%for(var i = 0; i < product_selections.products.length; i++) { %>
                    <option value="<%= product_selections.products[i].product_type %>">
                      <%= product_selections.products[i].product_type %>
                    </option><%} %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="container">
                  <div class="row">
                    <button type="button" id="btn-product-filter" class="btn btn-primary">Filter</button>                    
                    <button type="button" id="btn-product-reset" class="btn btn-danger">Reset</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <select class="dual-box" id="product-dual-box" multiple="multiple" name="product_dual_box" size="10">
                <%for(var i = 0; i < product_selections.products.length; i++) { %>
                  <option value="id=<%= product_selections.products[i].id %>|title=<%= product_selections.products[i].title %>|handle=<%= product_selections.products[i].handle %>|product_type=<%= product_selections.products[i].product_type %>|vendor=<%= product_selections.products[i].vendor %>" style="background-image: url(<%= product_selections.products[i].image.src %>);"><%= product_selections.products[i].title %></option>
                <% } %>
              </select>
              <span id="error-product" class="error">Must select one</span>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="control-group confirm-btn">
            <label class="control-label" for="create-offer"></label>
            <div class="controls">
              <button class="btn btn-primary btn-lg" id="create-offer" name="create-offer" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Offer" value="Create">Create Offer</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<style>
.form-group .selectpicker{
    margin-bottom: 3px;
}

.offer-input-groups .form-control{
    margin-bottom: 3px;
}

h2.bg-success{
    padding: 15px;
}

.required-lbl{
    color: red;
}

p[for="form-steps"]{
    display: inline;
    float: left;
    margin:0px 45px 0px 0px;
}

.card-expiry{
    padding-left: 0px;
}

.confirm-btn{
    float:right;
}

.bg-primary{
    padding: 10px;
    margin-bottom: 15px;
}

label{
    margin-bottom: 0px;
}

.panel-success{
    background-color: #dcdcdc;
}

select option:disabled {
    color: rgba(0,0,0, 0.3);
    text-decoration: line-through;
}

select option {
    font-size: 15pt;
    height: 40px;
    padding-right: 10px;
    padding-left: 50px; /* image-width */
    padding-top: 6px;
    vertical-align: middle;
    /*background-position: 3px 3px;*/
    background-position: 3px center;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: 35px;
}

option:nth-child(even) {
    background-color: rgba(142,198,255, 0.3);
}

option:nth-child(odd) {
    background-color: rgba(220,221,228, 0.3);
}

input[type=checkbox] {
    margin-right: 5px;
}
input.invalid, textarea.invalid{
  border: 2px solid red;
}

input.valid, textarea.valid{
  border: 2px solid green;
}
.error{
  display: none;
  margin-left: 10px;
}

.error_show{
  color: red;
  margin-left: 10px;
}

</style>
</body>
</body>
</html>