<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
  ShopifyApp.init({
    apiKey: '<%= api_key %>',
    shopOrigin: 'https://<%= shop %>.myshopify.com'
  });
  </script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/js/bootstrap-colorpicker.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.bootstrap-duallistbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-duallistbox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link async href="http://fonts.googleapis.com/css?family=Advent%20Pro" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/css/bootstrap-colorpicker.min.css" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
  <script type="text/javascript">
    $(document).ready(function(){
        /*ShopifyApp.Bar.initialize({
          title: '<%= title %>',
          icon: '/images/logo.png',
          buttons: {
            primary: {
                label: "Cancel", 
                href: '/'
            },          
            secondary: [
              { 
                label: "Setup Instructions", 
                callback: function() {
                  ShopifyApp.Modal.open({
                    src: 'https://simple-upsells.herokuapp.com/setup_instructions',
                    title: 'Setup Instructions',
                    width: 'large',
                    height: 700,
                    buttons: {
                    primary: { label: "OK", callback: function (label) { ShopifyApp.Modal.close(); } }
                    }
                  });
                }
              }
            ]
          }
        })
        ShopifyApp.Bar.loadingOff();*/
        $("#upsell-dual-box").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all',
            infoText: false,
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            filterOnValues: true,
            selectorMinimalHeight: 200
        });

        $("#product-dual-box").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all',
            infoText: false,
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            filterOnValues: true,
            selectorMinimalHeight: 200
        });
        
        <% if(typeof store != "undefined") { %>
          $("#border_color").colorpicker({
              color: "<%= store.border_color %>",
              format: "hex"
          });
          $("#border_highlight_color").colorpicker({
              color: "<%= store.border_highlight_color %>",
              format: "hex"
          });
          $("#background_color").colorpicker({
              color: "<%= store.background_color %>",
              format: "hex"
          });
          $("#button_color").colorpicker({
              color: "<%= store.button_color %>",
              format: "hex"
          });
        <% } else { %>        
          $("#border_color").colorpicker({
              color: "transparent",
              format: "hex"
          });
          $("#border_highlight_color").colorpicker({
              color: "#ffaa00",
              format: "hex"
          });
          $("#background_color").colorpicker({
              color: "#ffffff",
              format: "hex"
          });
          $("#button_color").colorpicker({
              color: "transparent",
              format: "hex"
          });
        <% } %>
        
        $(".filter").hide();
            
        var keys = $('#keys').val();
        if (keys != "") {
            keys = parseKeys(keys);
        }        
        /*
        <% if(typeof store != "undefined") { %>
          <% for(var i = 0; i < store_upsell.products.length; i++) { %>
            $("#upsell-dual-box option[value='id=<%= store_upsell.products[i].id %>|title=<%- store_upsell.products[i].title %>|handle=<%= store_upsell.products[i].handle %>|product_type=<%= store_upsell.products[i].product_type %>|vendor=<%= store_upsell.products[i].vendor %>']").prop('selected', true);
          <% } %>
          <% for(var i = 0; i < store_products.products.length; i++) { %>
            $("#product-dual-box option[value='id=<%= store_products.products[i].id %>|title=<%- store_products.products[i].title %>|handle=<%= store_products.products[i].handle %>|product_type=<%= store_products.products[i].product_type %>|vendor=<%= store_products.products[i].vendor %>']").prop('selected', true);
          <% } %>
          $("#upsell-dual-box").bootstrapDualListbox('refresh', true);
          $("#product-dual-box").bootstrapDualListbox('refresh', true);
        <% } %>
        
        <% for(var i = 0; i < metafields.values.length; i++) { %>
          <% for(var j = 0; j < metafields.values[i].products.length; j++) { %>
            if ($("#product-dual-box option[value='id=<%= metafields.values[i].products[j].id %>|title=<%- metafields.values[i].products[j].title %>|handle=<%= metafields.values[i].products[j].handle %>|product_type=<%= metafields.values[i].products[j].product_type %>|vendor=<%= metafields.values[i].products[j].vendor %>']").is(':not(:selected)')) {
              $("#product-dual-box option[value='id=<%= metafields.values[i].products[j].id %>|title=<%- metafields.values[i].products[j].title %>|handle=<%= metafields.values[i].products[j].handle %>|product_type=<%= metafields.values[i].products[j].product_type %>|vendor=<%= metafields.values[i].products[j].vendor %>']").attr('disabled', 'disabled');
              $("#product-dual-box").bootstrapDualListbox('refresh', true);
            }
          <% } %>
        <% } %>
        */
        $( "#btn-upsell-filter" ).click(function( event ) {
            var result = "(.*?)";
            
            if ($("#upsell_title").val() !== "") {
                result += "title=(.*?)" + $("#upsell_title").val() + "(.*?).";
            }
            else {
                result += "title=(.*?).";
            }
            if ($("#upsell_type").val() !== "none") {
                result += "product_type=" + $("#upsell_type").val() + ".";
            }
            else {
                result += "product_type=(.*?).";
            }
            if ($("#upsell_vendor").val() !== "none") {
                result += "vendor=" + $("#upsell_vendor").val() + "$"; 
            }
            else {
                result += "vendor=(.*?)$";
            }
 
            $("#upsell-dual-box").bootstrapDualListbox('setNonSelectedFilter', result, true);
        });

        $( "#btn-upsell-reset" ).click(function( event ) {
            $("#upsell-dual-box").bootstrapDualListbox('setNonSelectedFilter', '', true);
        });
        
        $( "#btn-product-filter" ).click(function( event ) {
            var result = "(.*?)";
            
            if ($("#product_title").val() !== "") {
                result += "title=(.*?)" + $("#product_title").val() + "(.*?).";
            }
            else {
                result += "title=(.*?).";
            }
            if ($("#product_type").val() !== "none") {
                result += "product_type=" + $("#product_type").val() + ".";
            }
            else {
                result += "product_type=(.*?).";
            }
            if ($("#product_vendor").val() !== "none") {
                result += "vendor=" + $("#product_vendor").val() + "$";
            }
            else {
                result += "vendor=(.*?)$";
            }
            $("#product-dual-box").bootstrapDualListbox('setNonSelectedFilter', result, true);
        });

        $( "#btn-product-reset" ).click(function( event ) {
            $("#product-dual-box").bootstrapDualListbox('setNonSelectedFilter', '', true);
        });
        
        $("#upsell-dual-box").on('change', function(){
            var size = $("#upsell-dual-box").find(":selected").size();
            if(size > 3){
                $("#upsell-dual-box").find(":selected").each(function(ind, sel){            
                    if(ind > 2)
                        $(this).prop("selected", false)
                })
                alert('You can only choose 3!');
                $("#upsell-dual-box").bootstrapDualListbox('refresh', true);
            }
        });
        
        $("#product-dual-box").on('change', function(){
            var size = $("#product-dual-box").find(":selected").size();
            if(size > 50){
                $("#product-dual-box").find(":selected").each(function(ind, sel){            
                    if(ind > 49)
                        $(this).prop("selected", false)
                })
                alert('You can only choose 50!');
                $("#product-dual-box").bootstrapDualListbox('refresh', true);
            }
        });
        
        $('#offer_name').on('input', function() {
            var input = $(this);
            var is_valid = true;
            
            for (var i = 0; i < keys.length; i++) {
                if (input.val().toLowerCase() === keys[i].toLowerCase()) {
                    is_valid = false;
                    break;
                }
            }
            
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });
        
        $('#border_color').on('input', function() {
            var input=$(this);
            var re = /^(#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3}))|(transparent)$/;
            var is_valid = re.test(input.val());
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });
        
        $('#border_highlight_color').on('input', function() {
            var input=$(this);
            var re = /^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/;
            var is_valid = re.test(input.val());
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });
        
        $('#background_color').on('input', function() {
            var input=$(this);
            var re = /^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/;
            var is_valid = re.test(input.val());
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });
        
        $('#button_color').on('input', function() {
            var input=$(this);
            var re = /^(#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3}))|(transparent)$/;
            var is_valid = re.test(input.val());
            if(is_valid)
                {input.removeClass("invalid").addClass("valid");}
            else
                {input.removeClass("valid").addClass("invalid");}
        });

        function validate() {
            var validated = true;
            
            if (!$("#offer_name").hasClass("valid")) {
                validated = false;                
                $("#offer_name").removeClass("error").addClass("error_show"); 
            }
            else {                
                $("#offer_name").removeClass("error_show").addClass("error");
            }
            if ($("#upsell-dual-box option:selected").length == 0) {
                validated = false;                
                $("#error-upsell").removeClass("error").addClass("error_show"); 
            }
            else {                
                $("#error-upsell").removeClass("error_show").addClass("error");
            }
            if ($('#product-dual-box option:selected').length == 0) {
                validated = false;                
                $("#error-product").removeClass("error").addClass("error_show"); 
            }
            else {                
                $("#error-product").removeClass("error_show").addClass("error");
            }
            if (!validated) {
                return false;
            }
            else {                
                return true;
            }            
        }
        function parseKeys(values) {
            var result = values.split("|");
            
            return result;
        }
        $("#offer-form").on("submit", function(event) {
            event.preventDefault();
            ShopifyApp.flashNotice("Processing...");
            $('#create-offer').button('loading');
            if (!validate()) {
                $('body, html').animate({scrollTop:$('form').offset().top}, 'slow');
                $('#error-top').removeClass("error").addClass("error_show");
                $('#create-offer').button('reset');
                ShopifyApp.Bar.loadingOff();
                return false;
            }
            //$.post( "/create-offer", $( "#create-offer" ).serialize() );
            //$(this).off("submit");
            //this.submit();            
        });
       /*$("#btn-upsells").click(function( event ) {
          $.ajax({
            type: 'GET',
            url: '/products',
            success: function(data) {
              for (var i = 0; i < data.product_selections.products.length; i++) {
                if (data.product_selections.products[i] == null || data.product_selections.products[i].id == null || data.product_selections.products[i].title == null || data.product_selections.products[i].handle == null || data.product_selections.products[i].product_type == null || data.product_selections.products[i].vendor == null || data.product_selections.products[i].image == null || data.product_selections.products[i].image.src == null) {
                  continue;
                }
                $('#upsell-dual-box').append($("<option></option>").attr("value", "id=" + data.product_selections.products[i].id + "|title=" + data.product_selections.products[i].title + "|handle=" + data.product_selections.products[i].handle + "|product_type=" + data.product_selections.products[i].product_type + "|vendor=" + data.product_selections.products[i].vendor).text(data.product_selections.products[i].title).css("background-image", "url(" + data.product_selections.products[i].image.src + ")"));
              }
            }
          });          
        });
        $("#btn-products").click(function( event ) {
          $.ajax({
            type: 'GET',
            url: '/products',
            success: function(data) {
              for (var i = 0; i < data.product_selections.products.length; i++) {
                if (data.product_selections.products[i] == null || data.product_selections.products[i].id == null || data.product_selections.products[i].title == null || data.product_selections.products[i].handle == null || data.product_selections.products[i].product_type == null || data.product_selections.products[i].vendor == null || data.product_selections.products[i].image == null || data.product_selections.products[i].image.src == null) {
                  continue;
                }
                $('#product-dual-box').append($("<option></option>").attr("value", "id=" + data.product_selections.products[i].id + "|title=" + data.product_selections.products[i].title + "|handle=" + data.product_selections.products[i].handle + "|product_type=" + data.product_selections.products[i].product_type + "|vendor=" + data.product_selections.products[i].vendor).text(data.product_selections.products[i].title).css("background-image", "url(" + data.product_selections.products[i].image.src + ")"));
              }
            }
          }); 
        });*/
        $.ajax({
            type: 'GET',
            url: '/products',
            success: function(data) {
              for (var i = 0; i < data.product_selections.products.length; i++) {
                if (data.product_selections.products[i] == null || data.product_selections.products[i].id == null || data.product_selections.products[i].title == null || data.product_selections.products[i].handle == null || data.product_selections.products[i].product_type == null || data.product_selections.products[i].vendor == null || data.product_selections.products[i].image == null || data.product_selections.products[i].image.src == null) {
                  continue;
                }
                $('#upsell-dual-box').append($("<option></option>").attr("value", "id=" + data.product_selections.products[i].id + "|title=" + data.product_selections.products[i].title + "|handle=" + data.product_selections.products[i].handle + "|product_type=" + data.product_selections.products[i].product_type + "|vendor=" + data.product_selections.products[i].vendor).text(data.product_selections.products[i].title).css("background-image", "url(" + data.product_selections.products[i].image.src + ")"));
                $('#product-dual-box').append($("<option></option>").attr("value", "id=" + data.product_selections.products[i].id + "|title=" + data.product_selections.products[i].title + "|handle=" + data.product_selections.products[i].handle + "|product_type=" + data.product_selections.products[i].product_type + "|vendor=" + data.product_selections.products[i].vendor).text(data.product_selections.products[i].title).css("background-image", "url(" + data.product_selections.products[i].image.src + ")"));
              }
            }
        });
        $( document ).ajaxComplete(function() {
          <% if(typeof store != "undefined") { %>
            <% for(var i = 0; i < store_upsell.products.length; i++) { %>
              $("#upsell-dual-box option[value='id=<%= store_upsell.products[i].id %>|title=<%- store_upsell.products[i].title %>|handle=<%= store_upsell.products[i].handle %>|product_type=<%= store_upsell.products[i].product_type %>|vendor=<%= store_upsell.products[i].vendor %>']").prop('selected', true);
            <% } %>
            <% for(var i = 0; i < store_products.products.length; i++) { %>
              $("#product-dual-box option[value='id=<%= store_products.products[i].id %>|title=<%- store_products.products[i].title %>|handle=<%= store_products.products[i].handle %>|product_type=<%= store_products.products[i].product_type %>|vendor=<%= store_products.products[i].vendor %>']").prop('selected', true);
            <% } %>
          <% } %>
          <% for(var i = 0; i < metafields.values.length; i++) { %>
            <% for(var j = 0; j < metafields.values[i].products.length; j++) { %>
              if ($("#product-dual-box option[value='id=<%= metafields.values[i].products[j].id %>|title=<%- metafields.values[i].products[j].title %>|handle=<%= metafields.values[i].products[j].handle %>|product_type=<%= metafields.values[i].products[j].product_type %>|vendor=<%= metafields.values[i].products[j].vendor %>']").is(':not(:selected)')) {
                $("#product-dual-box option[value='id=<%= metafields.values[i].products[j].id %>|title=<%- metafields.values[i].products[j].title %>|handle=<%= metafields.values[i].products[j].handle %>|product_type=<%= metafields.values[i].products[j].product_type %>|vendor=<%= metafields.values[i].products[j].vendor %>']").attr('disabled', 'disabled');
              }
            <% } %>
          <% } %>
          $("#upsell-dual-box").bootstrapDualListbox('refresh', true);
          $("#product-dual-box").bootstrapDualListbox('refresh', true);         
        });
            /*<div class="form-group col-md-12">
              <select class="dual-box" id="product-dual-box" multiple="multiple" name="product_dual_box" size="10">
                <% for(var i = 0; i < product_selections.products.length; i++) { %>
                  <% if (product_selections.products[i].image) { %>
                    <option value="id=<%= product_selections.products[i].id ? product_selections.products[i].id : "" %>|title=<%- product_selections.products[i].title ? product_selections.products[i].title : "" %>|handle=<%= product_selections.products[i].handle ? product_selections.products[i].handle : "" %>|product_type=<%= product_selections.products[i].product_type ? product_selections.products[i].product_type : "" %>|vendor=<%= product_selections.products[i].vendor ? product_selections.products[i].vendor : "" %>" style="background-image: url(<%= product_selections.products[i].image.src %>);"><%- product_selections.products[i].title ? product_selections.products[i].title : "" %></option>
                  <% } else { %>
                    <option value="id=<%= product_selections.products[i].id ? product_selections.products[i].id : "" %>|title=<%- product_selections.products[i].title ? product_selections.products[i].title : "" %>|handle=<%= product_selections.products[i].handle ? product_selections.products[i].handle : "" %>|product_type=<%= product_selections.products[i].product_type ? product_selections.products[i].product_type : "" %>|vendor=<%= product_selections.products[i].vendor ? product_selections.products[i].vendor : "" %>"><%- product_selections.products[i].title ? product_selections.products[i].title : "" %></option>
                  <% } %>
                <% } %>
              </select>
              <span id="error-product" class="error">Must select one</span>
            </div>*/
    });
  </script>
  <div class="container">
    <div class="row">
      <hr>
      <div class="bg-primary">
        <% if (typeof store == "undefined") { %>
          <p class="h1">Create Your Offer</p>        
        <% } else { %>
          <p class="h1">Edit Your Offer</p>
        <% } %>                
      </div>
      <hr>
      <form id="offer-form" method="POST" action="/create-offer">
        <% if (typeof store == "undefined") { %>
          <input class="form-control" type="hidden" id="upsell_configs" name="upsell_configs" value="">
          <input class="form-control" type="hidden" id="product_configs" name="product_configs" value="">
          <input class="form-control" type="hidden" id="key" name="key" value="">
          <input class="form-control" type="hidden" id="keys" name="keys" value="<%= keys %>">
          <input class="form-control" type="hidden" id="prev_meta_ids" name="prev_meta_ids" value="">
          <input class="form-control" type="hidden" id="prev_owner_ids" name="prev_owner_ids" value="">
        <% } else { %>
          <input class="form-control" type="hidden" id="upsell_configs" name="upsell_configs" value=<%= upsell_config %>>
          <input class="form-control" type="hidden" id="product_configs" name="product_configs" value=<%= product_config %>>
          <input class="form-control" type="hidden" id="key" name="key" value="<%= store.offer_name %>">
          <input class="form-control" type="hidden" id="keys" name="keys" value="<%= keys %>">
          <input class="form-control" type="hidden" id="prev_meta_ids" name="prev_meta_ids" value="<%= prod_meta_ids %>">
          <input class="form-control" type="hidden" id="prev_owner_ids" name="prev_owner_ids" value="<%= prod_owner_ids %>">
        <% } %>        
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h4 style="color: white;">Step 1: Setup Offer</h4>
              <span id="error-top" class="error">There's an error on the page</span>
            </h4>
          </div>
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups required">
              <div class="control-group">
                <label class="control-label" for="offer_name">Offer Name</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control invalid" id="offer_name" name="offer_name" placeholder="Internal use only (will not be displayed on store)" required="" style="width: 49%;" type="text" maxlength="27">
                  <% } else { %>
                    <input class="form-control valid" id="offer_name" name="offer_name" placeholder="Internal use only (will not be displayed on store)" required="" style="width: 49%;" type="text" value="<%= store.offer_name %>" maxlength="27" readonly="readonly">
                  <% } %>
                  <span class="error">This offer name is already being used.</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="offer_title">Offer Banner Title</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <input class="form-control" id="offer_title" name="offer_title" placeholder="Related Items" style="width: 49%;" type="text">
                  <% } else { %>
                    <input class="form-control" id="offer_title" name="offer_title" placeholder="Related Items" style="width: 49%;" type="text" value="<%= store.offer_title %>">
                  <% } %>
                  <span class="error">This field is required</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="offer_description">Offer Description</label>
                <div class="controls">
                  <% if (typeof store == "undefined") { %>
                    <textarea class="form-control" cols="65" id="offer_description" name="offer_description" placeholder="Based on this item, other customers also like..." rows="10" style="width: 49%;" maxlength="230"></textarea>
                  <% } else { %>
                    <textarea class="form-control" cols="65" id="offer_description" name="offer_description" placeholder="Based on this item, other customers also like..." rows="10" style="width: 49%;" maxlength="230"><%= store.offer_description %></textarea>
                  <% } %>
                  <span class="error">This field is required</span>
                </div>
              </div>
            </div>
           <div class="form-group col-md-12 offer-input-groups required">
              <div class="control-group">
                <label class="control-label" for="border_color">Upsell Border Color (For borderless use: "transparent")</label>
                <div class="controls">
                  <input class="form-control" id="border_color" name="border_color" placeholder="Enter hex color code" required="" style="width: 49%;" type="text">
                  <span class="error">This field input is invalid. Please enter hex color value.</span>
                </div>
              </div>
           </div>
           <div class="form-group col-md-12 offer-input-groups required">
              <div class="control-group">
                <label class="control-label" for="border_highlight_color">Upsell Highlight Border Color</label>
                <div class="controls">
                  <input class="form-control" id="border_highlight_color" name="border_highlight_color" placeholder="Enter hex color code" required="" style="width: 49%;" type="text">
                  <span class="error">This field input is invalid. Please enter hex color value.</span>
                </div>
              </div>
           </div>
           <div class="form-group col-md-12 offer-input-groups required">
              <div class="control-group">
                <label class="control-label" for="background_color">Upsell Background Color</label>
                <div class="controls">
                  <input class="form-control" id="background_color" name="background_color" placeholder="Enter hex color code" required="" style="width: 49%;" type="text">
                  <span class="error">This field input is invalid. Please enter hex color value.</span>
                </div>
              </div>
           </div>
           <div class="form-group col-md-12 offer-input-groups required">
              <div class="control-group">
                <label class="control-label" for="button_color">Cart Button Color (For theme color use: "transparent")</label>
                <div class="controls">
                  <input class="form-control" id="button_color" name="button_color" placeholder="Enter hex color code" required="" style="width: 49%;" type="text">
                  <span class="error">This field input is invalid. Please enter hex color value.</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="form-check">
                  <% if (typeof store == "undefined" || store.upsell_edge_type == "undefined") { %>
                    <label class="form-check-label custom-control custom-checkbox" for="upsell_edge_type"><input name="upsell_edge_type" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox" value="not_rounded"><span class="custom-control-indicator"></span><span class="custom-control-description">Use rounded edges around upsell products?</span></label>
                  <% } else { %>
                    <label class="form-check-label custom-control custom-checkbox" for="upsell_edge_type"><input name="upsell_edge_type" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox" value="rounded" checked><span class="custom-control-indicator"></span><span class="custom-control-description">Use rounded edges around upsell products?</span></label>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="form-check">
                  <% if (typeof store == "undefined" || store.button_edge_type == "undefined") { %>
                    <label class="form-check-label custom-control custom-checkbox" for="button_edge_type"><input name="button_edge_type" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox" value="not_rounded"><span class="custom-control-indicator"></span><span class="custom-control-description">Use rounded edges on "Add to Cart" button?</span></label>
                  <% } else { %>
                    <label class="form-check-label custom-control custom-checkbox" for="button_edge_type"><input name="button_edge_type" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox" value="rounded" checked><span class="custom-control-indicator"></span><span class="custom-control-description">Use rounded edges on "Add to Cart" button?</span></label>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="form-check">
                  <% if (typeof store != "undefined" && store.status == "undefined") { %>
                    <label class="form-check-label custom-control custom-checkbox" for="activate-offer" style="display:none;"><input name="activate_offer" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">Activate Offer?</span></label>
                  <% } else { %>
                    <label class="form-check-label custom-control custom-checkbox" for="activate-offer" style="display:none;"><input name="activate_offer" id="checkbox-primary" class="form-check-input custom-control-input" type="checkbox" checked ><span class="custom-control-indicator"></span><span class="custom-control-description">Activate Offer?</span></label>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h4 style="color: white;">Step 2: Select product(s) to upsell (Must select one, 3 max)</h4>
              <span id="error-top" class="error">There's an error on the page</span>
            </h4>
          </div>
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="upsell_title">Filter by product title</label>
                <div class="controls">
                  <input class="form-control" id="upsell_title" name="upsell_title" placeholder="Enter product title" style="width: 49%;" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_vendor">Filter by vendor</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="upsell_vendor" name="upsell_vendor" style="display: none;">
                    <option value="none">
                      Filter by vendor
                    </option><% for(var i = 0; i < vendors.length; i++) { %>
                    <option value="<%= vendors[i] %>">
                      <%= vendors[i] %>
                    </option><% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="upsell_product_type">Filter by product type</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="upsell_type" name="upsell_type" style="display: none;">
                    <option value="none">
                      Filter by product type
                    </option><% for(var i = 0; i < product_type.length; i++) { %>
                    <option value="<%= product_type[i] %>">
                      <%= product_type[i] %>
                    </option><% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="container">
                  <div class="row">
                    <button type="button" id="btn-upsell-filter" class="btn btn-primary">Filter</button>
                    <button type="button" id="btn-upsell-reset" class="btn btn-danger">Reset</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <select class="dual-box" id="upsell-dual-box" multiple="multiple" name="upsell_dual_box" size="20">
              </select>
              <span id="error-upsell" class="error">Must select one</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h4 style="color: white;">Step 3: Select Product(s) to Place Offer (Must select one, 50 max)</h4>
              <span id="error-top" class="error">There's an error on the page</span>
            </h4>
          </div>
          <div class="panel-body">
            <div class="form-group col-md-12 offer-input-groups">
              <div class="control-group">
                <label class="control-label" for="product_title">Filter by product title</label>
                <div class="controls">
                  <input class="form-control" id="product_title" name="product_title" placeholder="Enter product title" style="width: 49%;" type="text">
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_vendor">Filter by vendor</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="product_vendor" name="product_vendor" style="display: none;">
                    <option value="none">
                      Filter by vendor
                    </option><% for(var i = 0; i < vendors.length; i++) { %>
                    <option value="<%= vendors[i] %>">
                      <%= vendors[i] %>
                    </option><% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <label class="control-label" for="product_type">Filter by product type</label>
                <div class="controls">
                  <select class="selectpicker" data-width="49%" id="product_type" name="product_type" style="display: none;">
                    <option value="none">
                      Filter by product type
                    </option><% for(var i = 0; i < product_type.length; i++) { %>
                    <option value="<%= product_type[i] %>">
                      <%= product_type[i] %>
                    </option><% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <div class="control-group">
                <div class="container">
                  <div class="row">
                    <button type="button" id="btn-product-filter" class="btn btn-primary">Filter</button>                    
                    <button type="button" id="btn-product-reset" class="btn btn-danger">Reset</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <select class="dual-box" id="product-dual-box" multiple="multiple" name="product_dual_box" size="20">
              </select>
              <span id="error-product" class="error">Must select one</span>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="control-group confirm-btn">
            <label class="control-label" for="create-offer"></label>
            <div class="controls">
              <% if (typeof store == "undefined") { %>
                <button class="btn btn-primary btn-lg" id="create-offer" name="create-offer" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Offer" value="Create">Create Offer</button>
              <% } else { %>
                <button class="btn btn-primary btn-lg" id="create-offer" name="create-offer" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Offer" value="Create">Update Offer</button>
              <% } %>              
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<style>
.form-group .selectpicker{
    margin-bottom: 3px;
}

.offer-input-groups .form-control{
    margin-bottom: 3px;
}

h2.bg-success{
    padding: 15px;
}

.required-lbl{
    color: red;
}

p[for="form-steps"]{
    display: inline;
    float: left;
    margin:0px 45px 0px 0px;
}

.card-expiry{
    padding-left: 0px;
}

.confirm-btn{
    float:right;
}

.bg-primary{
    padding: 10px;
    margin-bottom: 15px;
}

label{
    margin-bottom: 0px;
}

.panel-success{
    background-color: #dcdcdc;
}

select option:disabled {
    color: rgba(0,0,0, 0.3);
    text-decoration: line-through;
}

select option {
    font-size: 15pt;
    height: 40px;
    padding-right: 10px;
    padding-left: 50px; /* image-width */
    padding-top: 6px;
    vertical-align: middle;
    /*background-position: 3px 3px;*/
    background-position: 3px center;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: 35px;
}

option:nth-child(even) {
    background-color: rgba(142,198,255, 0.3);
}

option:nth-child(odd) {
    background-color: rgba(220,221,228, 0.3);
}

input[type=checkbox] {
    margin-right: 5px;
}
input.invalid, textarea.invalid{
  border: 2px solid red;
}

input.valid, textarea.valid{
  border: 2px solid green;
}
.error{
  display: none;
  margin-left: 10px;
}

.error_show{
  color: red;
  margin-left: 10px;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
</style>
</body>
</html>