  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'contained-bootstrap.min.css' | asset_url | stylesheet_tag }}

  {% if product.metafields.suop != blank %}
	{% assign total = 0 %}    
    {% assign metafields = product.metafields.suop %}
	{% assign configs = metafields.su1 %}    
    {% if configs contains "status:on" and product.available %}
      <div id="simple-upsell" class="bootstrap">
        <input type="hidden" id="configs" name="configs" value="{{ configs }}" />
        <div class="container upsell-container padded-row" style="margin-top:20px;">
          {% assign upsell_values = metafields.su1 | split: ";" %}          
          {% for upsell_value in upsell_values %}
            {% if upsell_value contains "handle:" %}
              {% assign items = upsell_value | replace: "handle:", "" %} 
          	  {% assign items = items | split: "|" %} 
            {% endif %}
            {% if upsell_value contains "offer_title:" %}
              <h3>{{ upsell_value | replace: "offer_title:", ""}}</h3>
            {% endif %}
            {% if upsell_value contains "offer_description:" %}
              <h5>{{ upsell_value | replace: "offer_description:", ""}}</h5>
              {% break %}
            {% endif %}          
          {% endfor %}
          <form id="add-upsell-form" onsubmit="submitUpsell(); return false;">
            <div class="row upsell-row">
              {% assign variants = product.variants %}
              {% assign variantSize = product.variants | size %}
              <div class="col-xs-10 col-sm-4 col-md-1 col-lg-1 upsell-product">
                <div class="col-item" id="item1" value="{{  }}">
                  <span class="tooltiptext">{{ product.title }}</span>
                  <div class="photo"><a href="{{ product.url }}"><img alt="{{ product.title }}" class="img-responsive upsell-image" src="{{ product | img_url: 'medium' }}"></a></div>
                  <div class="info">
                    <div class="row">
                      <div class="title col-md-12">
                        <a href="{{ product.url }}" style="color: black;"><h5>{{ product.title }}</h5></a>
                        {% assign total = total | plus: variants[0].price %}
                        <span id="variant-price1" class="price-text-color">{{ variants[0].price | money }}   </span> 
                        {% if product.compare_at_price > variants[0].price %}
                          <s id="compare-price1" class="sale-price">
                            {{ product.compare_at_price_max | money }}
                          </s>
                        {% endif %} 
                      </div>
                      <div class="variant col-md-12">
                        {% if variantSize <= 1 %}
                        <select id="variant1" class="variant-select" name="variant1" style="visibility: hidden;">
                          {% for variant in variants %}
                            {% if variant.available %}
                              <option value="{{ variant.id }}-{{ variant.price | money }}-{{ product.compare_at_price_max | money }}">{{ variant.title }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        {% else %}
                        <select id="variant1" class="variant-select" name="variant1">
                          {% for variant in variants %}
                            {% if variant.available %}
                              <option value="{{ variant.id }}-{{ variant.price | money }}-{{ product.compare_at_price_max | money }}">{{ variant.title }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        {% endif %}
                      </div>
                    </div>

                    <div class="separator">
                      <p id="btn-id1" class="btn-add"><input type="checkbox" id="c1" name="cb[]" value="{{ variants[0].id }}" style="display:none;" checked><i id="icon1" class="fa fa-times upsell-icon" style="color:black;"></i><a id="text1" href="#">Remove item</a></p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div> 
              {% for handle in items %}              	
                {% assign item = all_products[handle] %}
                {% assign variants = item.variants %}
                {% assign variantSize = item.variants | size %}
              	{% if item.id != product.id and item != blank %}
              	  {% if item.available %}
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 nopadding" style="width: 15px;">
                      <h2><span class="glyphicon glyphicon-plus"></span></h2>
                    </div>
                    <div class="col-xs-10 col-sm-4 col-md-1 col-lg-1 upsell-product">
                      <div class="col-item" id="item{{ forloop.index | plus: 1 }}" value="{{  }}">
                        <span class="tooltiptext">{{ item.title }}</span>
                        <div class="photo"><a href="{{ item.url }}"><img alt="{{ item.title }}" class="img-responsive upsell-image" src="{{ item | img_url: 'medium' }}"></a></div>
                        <div class="info">
                          <div class="row">
                            <div class="title col-md-12">
                              <a href="{{ item.url }}" style="color: black;"><h5>{{ item.title }}</h5></a>   
                              {% assign total = total | plus: variants[0].price %}
                              <span id="variant-price{{ forloop.index | plus: 1 }}" class="price-text-color">{{ variants[0].price | money }}  </span>                                                      
                              {% if item.compare_at_price > variants[0].price %}
                                <s id="compare-price{{ forloop.index | plus: 1 }}" class="sale-price">
                                  {{ item.compare_at_price_max | money }}
                                </s>
                              {% endif %} 
                            </div>
                            <div class="variant col-md-12">
                            {% if variantSize <= 1 %}
                              <select id="variant{{ forloop.index | plus: 1 }}" class="variant-select" name="variant{{ forloop.index | plus: 1 }}" style="visibility: hidden;">
                                {% for variant in variants %}
                                  {% if variant.available %}
                                    <option value="{{ variant.id }}-{{ variant.price | money }}-{{ item.compare_at_price_max | money }}">{{ variant.title }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            {% else %}
                              <select id="variant{{ forloop.index | plus: 1 }}" class="variant-select" name="variant{{ forloop.index | plus: 1 }}">
                                {% for variant in variants %}
                                  {% if variant.available %}
                                    <option value="{{ variant.id }}-{{ variant.price | money }}-{{ item.compare_at_price_max | money }}">{{ variant.title }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            {% endif %}
                            </div>
                          </div>

                          <div class="separator">
                            <p id="btn-id{{ forloop.index | plus: 1 }}" class="btn-add"><input type="checkbox" id="c{{ forloop.index | plus: 1 }}" name="cb[]" value="{{ variants[0].id }}" style="display:none;" checked><i id="icon{{ forloop.index | plus: 1 }}" class="fa fa-times upsell-icon" style="color:black;"></i><a id="text{{ forloop.index | plus: 1 }}" href="#">Remove item</a></p>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
              	  {% endif %}
              	{% endif %}
              {% endfor %}
              <div class="col-xs-1 col-sm-1 col-md1 col-lg-1 nopadding" style="width: 20px;">
                <div class="cart-confirmation">
                  <p style="font-size:17px; color:black; font-weight:bold;">
                    Total Price: <span id="total-price" style="color:red">${{ total | divided_by: 100.0 }}</span>
                  </p>
                  <button class="btn upsell-button" id="add-upsell" name="add-upsell" type="submit" form="add-upsell-form">ADD TO CART</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  {% endif %}
  <script type="text/javascript">
    jQuery(window).bind("pageshow", function() {
        jQuery('input:checkbox').prop('checked', true);
    });
    var values = jQuery('#configs').val();
    values = parseValues(values);
    //var handles = parseHandles(values['handle']);
    
    if (values['upsell_edge_type'] == "not_rounded") {
      jQuery('.col-item').css('border-radius', '0px');
      jQuery('.upsell-image').css('border-radius', '0px');
      jQuery('.photo').css('border-radius', '0px');
      //jQuery('#add-upsell').css('border-radius', '0px');
    }
    else {
      jQuery('.col-item').css('border-radius', '10px');
      jQuery('.upsell-image').css('border-radius', '10px 10px 0 0');
      jQuery('.photo').css('border-radius', '10px 10px 0 0');
    }
    if (values['button_edge_type'] == "not_rounded") {
      jQuery('#add-upsell').css('border-radius', '0px');
    }
    
    //jQuery('.col-item').css('border-color', values['border_color']);
    jQuery('.upsell-icon').css('color', 'red');
    jQuery('.col-item').css('background-color', values['background_color']);
    jQuery('.col-item').css('box-shadow', '0px 0px 2px 2px ' + values['border_highlight_color']);
    jQuery('#add-upsell').css('background-color', values['button_color']);    
    
    Shopify.queue = [];
    function submitUpsell() {
      if (jQuery("input[name='cb[]']:checked").length < 1) {
        alert("Please select at least one variant.");
        return false; //Needs to change layout: 'Please select at least one variant.'
      }
      else {
        jQuery("input[name='cb[]']:checked").each(function() {
          Shopify.queue.push({
            variantId: parseInt(jQuery(this).val(), 10),
            quantity: 1
          });
        });
        Shopify.moveAlong();
      }
    }
    Shopify.moveAlong = function() {
      // If we still have requests in the queue, let's process the next one.
      if (Shopify.queue.length) {
        var request = Shopify.queue.shift();
        Shopify.addItem(request.variantId, request.quantity, Shopify.moveAlong);
      }
      // If the queue is empty, we will redirect to the cart page.
      else {
        document.location.href = '/cart';
      }
    };
    
    Number.prototype.format = function(n, x) {
        var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
        return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
    };
    
    function calculateTotal(itemPrice, itemStatus) {
      var currentTotal = Number(jQuery('#total-price').text().replace(/[^0-9-\.]+/g, ""));
      var item = Number(itemPrice.replace(/[^0-9-\.]+/g, ""));
      var total = 0;
      
      if (itemStatus)
      	total = currentTotal + item;
      else
        total = currentTotal - item;

      jQuery('#total-price').text('$' + Number(total).format(2).toString());
    }
    
    function parseValues(values) {
      var result = {};
      var pairs = values.split(";");

      for (var i = 0; i < pairs.length; i++) {
          var temp = pairs[i].split(":");
          result[temp[0]] = temp[1];
      }
      return result;
    }

    jQuery("#variant1").on('focus', function () {
      jQuery(this).data('val', jQuery(this).val());
    }).change(function() {
      var previous = jQuery(this).data('val').split('-');
      var current = jQuery('#variant1').val().split('-');
      jQuery('#c1').val(current[0]);
      jQuery('#variant-price1').text(current[1]);
      if (current[2] > current[1]) {
        jQuery('#compare-price1').text(current[2]);
      }
      else {
        jQuery('#compare-price1').text("");
      }
      if (jQuery('#c1').is(':checked')) {
        calculateTotal(previous[1], false);
        calculateTotal(current[1], true);        
      }
      jQuery("#variant1").blur();
    });
    jQuery("#variant2").on('focus', function () {
      jQuery(this).data('val', jQuery(this).val());
    }).change(function() {
      var previous = jQuery(this).data('val').split('-');
      var current = jQuery('#variant2').val().split('-');
      jQuery('#c2').val(current[0]);
      jQuery('#variant-price2').text(current[1]);
      if (current[2] > current[1]) {
        jQuery('#compare-price2').text(current[2]);
      }
      else {
        jQuery('#compare-price2').text("");
      }
      if (jQuery('#c2').is(':checked')) {
        calculateTotal(previous[1], false);
        calculateTotal(current[1], true);
      }
      jQuery("#variant2").blur();
    });
    jQuery("#variant3").on('focus', function () {
      jQuery(this).data('val', jQuery(this).val());
    }).change(function() {
      var previous = jQuery(this).data('val').split('-');
      var current = jQuery('#variant3').val().split('-');
      jQuery('#c3').val(current[0]);
      jQuery('#variant-price3').text(current[1]);   
      if (current[2] > current[1]) {
        jQuery('#compare-price3').text(current[2]);
      }
      else {
        jQuery('#compare-price3').text("");
      }
      if (jQuery('#c3').is(':checked')) {
        calculateTotal(previous[1], false);
        calculateTotal(current[1], true);
      }
      jQuery("#variant3").blur();
    });
    jQuery("#variant4").on('focus', function () {
      jQuery(this).data('val', jQuery(this).val());
    }).change(function() {
      var previous = jQuery(this).data('val').split('-');
      var current = jQuery('#variant4').val().split('-');
      jQuery('#c4').val(current[0]);
      jQuery('#variant-price4').text(current[1]);  
      if (current[2] > current[1]) {
        jQuery('#compare-price4').text(current[2]);
      }
      else {
        jQuery('#compare-price4').text("");
      }
      if (jQuery('#c4').is(':checked')) {
        calculateTotal(previous[1], false);
        calculateTotal(current[1], true);
      }
      jQuery("#variant4").blur();
    });
    jQuery('#btn-id1').click(function(event) {
      if (jQuery('#c1').is(':checked')) {
        jQuery('#c1').prop('checked', false);
        jQuery('#text1').text('Add to bundle');
        jQuery('#icon1').attr('class', 'fa fa-shopping-cart');
        jQuery('#icon1').css('color', 'black');
        jQuery('#item1').css('box-shadow', '0px 0px 2px 2px rgba(255, 255, 255, 1)');
        jQuery('#item1').css('border-color', values['border_color']);        
        if (values['upsell_edge_type'] == "not_rounded")
          jQuery('#item1').css('border-radius', '0px');
        else 
          jQuery('#item1').css('border-radius', '10px');
        jQuery('#item1').css('background-color', values['background_color']);
        calculateTotal(jQuery('#variant-price1').text(), false);
        event.preventDefault();
      }
      else {
        jQuery('#c1').prop('checked', true); 
        jQuery('#text1').text('Remove item');
        jQuery('#icon1').attr('class', 'fa fa-times');
        jQuery('#icon1').css('color', 'red');        
        jQuery('#item1').css('box-shadow', '0px 0px 2px 2px ' + values['border_highlight_color']);
        jQuery('#item1').css('border-color', 'transparent');        
        if (values['upsell_edge_type'] == "not_rounded")
          jQuery('#item1').css('border-radius', '0px');
        else 
          jQuery('#item1').css('border-radius', '10px');
        jQuery('#item1').css('background-color', values['background_color']);
        calculateTotal(jQuery('#variant-price1').text(), true);
        event.preventDefault();
      }  
    });
    jQuery('#btn-id2').click(function(event) {
      if (jQuery('#c2').is(':checked')) {
        jQuery('#c2').prop('checked', false);
        jQuery('#text2').text('Add to bundle');
        jQuery('#icon2').attr('class', 'fa fa-shopping-cart');
        jQuery('#icon2').css('color', 'black');
        jQuery('#item2').css('box-shadow', '0px 0px 2px 2px rgba(255, 255, 255, 1)');
        jQuery('#item2').css('border-color', values['border_color']);        
        if (values['upsell_edge_type'] == "not_rounded")
          jQuery('#item2').css('border-radius', '0px');
        else 
          jQuery('#item2').css('border-radius', '10px');
        jQuery('#item2').css('background-color', values['background_color']);
        calculateTotal(jQuery('#variant-price2').text(), false);
        event.preventDefault();
      }
      else {
        jQuery('#c2').prop('checked', true); 
        jQuery('#text2').text('Remove item');
        jQuery('#icon2').attr('class', 'fa fa-times');
        jQuery('#icon2').css('color', 'red');        
        jQuery('#item2').css('box-shadow', '0px 0px 2px 2px ' + values['border_highlight_color']);
        jQuery('#item2').css('border-color', 'transparent');        
        if (values['upsell_edge_type'] == "not_rounded")
          jQuery('#item2').css('border-radius', '0px');
        else 
          jQuery('#item2').css('border-radius', '10px');
        jQuery('#item2').css('background-color', values['background_color']);
        calculateTotal(jQuery('#variant-price2').text(), true);
        event.preventDefault();
      }  
    });
    jQuery('#btn-id3').click(function(event) {
      if (jQuery('#c3').is(':checked')) {
        jQuery('#c3').prop('checked', false);
        jQuery('#text3').text('Add to bundle');
        jQuery('#icon3').attr('class', 'fa fa-shopping-cart');
        jQuery('#icon3').css('color', 'black');
        jQuery('#item3').css('box-shadow', '0px 0px 2px 2px rgba(255, 255, 255, 1)');
        jQuery('#item3').css('border-color', values['border_color']);        
        if (values['upsell_edge_type'] == "not_rounded")
          jQuery('#item3').css('border-radius', '0px');
        else 
          jQuery('#item3').css('border-radius', '10px');
        jQuery('#item3').css('background-color', values['background_color']);
        calculateTotal(jQuery('#variant-price3').text(), false);
        event.preventDefault();
      }
      else {
        jQuery('#c3').prop('checked', true); 
        jQuery('#text3').text('Remove item');
        jQuery('#icon3').attr('class', 'fa fa-times');
        jQuery('#icon3').css('color', 'red');        
        jQuery('#item3').css('box-shadow', '0px 0px 2px 2px ' + values['border_highlight_color']);
        jQuery('#item3').css('border-color', 'transparent');        
        if (values['upsell_edge_type'] == "not_rounded")
          jQuery('#item3').css('border-radius', '0px');
        else 
          jQuery('#item3').css('border-radius', '10px');
        jQuery('#item3').css('background-color', values['background_color']);
        calculateTotal(jQuery('#variant-price3').text(), true);
        event.preventDefault();
      }  
    });
    jQuery('#btn-id4').click(function(event) {
      if (jQuery('#c4').is(':checked')) {
        jQuery('#c4').prop('checked', false);
        jQuery('#text4').text('Add to bundle');
        jQuery('#icon4').attr('class', 'fa fa-shopping-cart');
        jQuery('#icon4').css('color', 'black');
        jQuery('#item4').css('box-shadow', '0px 0px 2px 2px rgba(255, 255, 255, 1)');
        jQuery('#item4').css('border-color', values['border_color']);        
        if (values['upsell_edge_type'] == "not_rounded")
          jQuery('#item4').css('border-radius', '0px');
        else 
          jQuery('#item4').css('border-radius', '10px');
        jQuery('#item4').css('background-color', values['background_color']);
        calculateTotal(jQuery('#variant-price4').text(), false);
        event.preventDefault();
      }
      else {
        jQuery('#c4').prop('checked', true); 
        jQuery('#text4').text('Remove item');
        jQuery('#icon4').attr('class', 'fa fa-times');
        jQuery('#icon4').css('color', 'red');        
        jQuery('#item4').css('box-shadow', '0px 0px 2px 2px ' + values['border_highlight_color']);
        jQuery('#item4').css('border-color', 'transparent');        
        if (values['upsell_edge_type'] == "not_rounded")
          jQuery('#item4').css('border-radius', '0px');
        else 
          jQuery('#item4').css('border-radius', '10px');
        jQuery('#item4').css('background-color', values['background_color']);
        calculateTotal(jQuery('#variant-price4').text(), true);
        event.preventDefault();
      }  
    });
  </script>
  <style>
  @import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
  .nopadding 
  {
    padding: 0 !important;
    margin: 0 !important;
  }
  .nopadding h2 
  {
    height: 9em;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    float: center;    
  }
  .nopadding .cart-confirmation 
  { 
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    float: center;
    margin-top: 6em;
  }
  #add-upsell 
  {
    color: #FFF;
  }
  .upsell-container
  {
    float: left;  
  }
  .upsell-row
  {
    /*border: 3px solid black;*/
    /*background-color: transparent;*/
    width: 85%;
  }
  .upsell-product
  {
    width: 100%;
    display: inline-table;
    float: center;
  }
  .col-item
  {
    position: relative;
    width: 175px;
    height: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 175px;
    min-height: 315px;    
    max-width: 175px;    
    max-height: 315px;
    border-color: transparent;
  }
  .col-item .tooltiptext
  {
    visibility: hidden;
    width: auto;
    max-width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  .col-item:hover .tooltiptext
  {
    visibility: visible;
    opacity: 1;
  }
  .col-item .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .col-item .photo img
  {
    margin: 0 auto;
    width: auto;
    min-width:auto;
    max-width:100%;
    min-height:175px;
    max-height:175px;
    vertical-align: top;
    /*padding: 10px;*/
    /*border-radius: 10px 10px 0 0;*/

    background-repeat: no-repeat;
  }
  .col-item .photo
  {
    min-width: 100%;    
    max-width: 100%;
    min-height: 175px;
    max-height: 175px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
  }
  .col-item .info
  {    
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 5px;
  }
  .col-item .title
  {
    float: none;
    height: 25px;
    min-height: 25px;
    max-height: 25px;  
    line-height: 115%;
    margin-bottom: 28px;
  }
  .col-item .title h5
  {
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 1px;
    height: auto;
    max-height: 25px;
    text-align: left;
    line-height: 115%;
    width: 100%;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .col-item .title .price
  {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    float: none; 
    height: 20px;
    min-height: 20px;
    max-height: 20px;
  }
  .col-item .title span
  {
	padding-top: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 14;
    max-height: 14px;
    min-height: 14px;
    text-align: left;
    line-height: normal;
    width: 100%;
    max-width: 170px;
    font-size: 14px;
  }
  .price-text-color
  {
    color: red;
  }
  .sale-price {
  	color: grey;
  }
  .col-item .info .rating
  {
    color: #777;
  }
  .col-item .rating
  {
    float: none;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 13px;
  }
  .col-item .variant
  {
    display: table;
    float: none;
    text-align: center;
    line-height: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .variant .variant-select 
  {
    display: table-cell;
    border: 1px solid black;
    -webkit-appearance: menulist-button; 
    -moz-appearance: none;             /* Removes Default Firefox style*/
    background: url('dropdown_arrow.png') no-repeat;          /*Adds background-image*/
    background-position: 82px 7px;           /*Position of the background-image*/
    width: 70%;            /*Width of select dropdown to give space for arrow image*/
    height: 45px;
    text-indent: 0.01px;          /* Removes default arrow from firefox*/
    text-overflow: "";   
    max-height: 45px; 
    font-size: 14px;
    line-height: 0;
    background-color: white;
  }
  .col-item .separator
  {
    border-top: 1px solid #d9d9d9;
  }
  .clear-left
  {
    clear: left;
  }
  .col-item .row {
    margin-top: 1px;
    margin-bottom: 5px; 
  }
  .col-item .separator p
  {    
    line-height: 20px;
    margin: 3px;
    text-align: center;
    float: none;
    padding-right: 15px;
  }
  .col-item .separator p i
  {
    margin-right: 5px;
    float: none;
  }
  .col-item .btn-add
  {
    width: 100%;
    text-align: center;
    align-items: center;
    float: none;
  }
  .col-item .btn-details
  {
    width: 50%;
    float: left;
    padding-left: 10px;
  }
  .controls
  {
    margin-top: 20px;
  }
  [data-slide="prev"]
  {
    margin-right: 10px;
  }

  /*
  Hover the image
  */
  .post-img-content
  {
    height: 196px;
    position: relative;
  }
  .post-img-content img
  {
    position: absolute;
    padding: 1px;
    border-radius: 10px 10px 0 0 ;
  }
  .post-title{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
  }
  .post-title b{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 2px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 12px;
  }
  .post-title b:first-child{
    font-size: 14px;
  }
  .round-tag{
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #FFF;
    background: #37A12B;
    position: absolute;
    bottom: 0px;
    padding: 15px 6px;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
  }
  /*
  ***********STYLING WITHOUT DROPDOWN VARIANT SELECT BOX************
    .col-item .price
  {
    float: none;
    margin: 5px;
  }
  .col-item .price h5
  {
    text-align: left;
    line-height: 20px;
    margin: 5px;
    width: auto;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .price-text-color
  {
    color: #219FD1;
  }
  .col-item .info .rating
  {
    color: #777;
  }
  .col-item .rating
  {
    float: none;
    font-size: 15px;
    text-align: center;
    line-height: 52px;
    margin-bottom: 1px;
    height: 40px;
  } */
  </style>